@layer components{
    .plant-card{
        @apply relative bg-white border border-[#ebebeb] rounded rounded-[5px] overflow-hidden mb-[30px] transition-all delay-150 duration-300 mb-0;
        &_preview-icon{
            @apply absolute top-[50%] transform translate-y-[-50%] left-0 right-0 text-center z-[1] h-[46px];
            a{
                @apply inline-flex bg-white  h-[46px] w-[46px] rounded rounded-full text-center opacity-0 transform;
                transform: scale3d(0,0,0);
                transition: all .3s linear;
                svg path{
                    fill: #253237;
                }
                &:hover{
                    @apply bg-[#07a04b];
                    svg path{
                        fill: #fff;
                    }
                }
            }
        }
        
        &-title{
            @apply text-slate-850 font-bold leading-[18px] text-sm capitalize transition-all ease-in-out delay-150 duration-300 cursor-pointer block w-max;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &:hover{
                @apply text-[#07a04b]
            }
        }
        &_cartBtn{
            @apply absolute left-[15px] right-[15px] bottom-[15px] bg-white;
            visibility: hidden;
            opacity: 0;
            transform: translateY(25px) translateZ(0);
            -webkit-transform: translateY(25px) translateZ(0);
            transition: opacity .3s ease,visibility .3s ease,transform .3s ease;
        }
        &:hover{
            @apply border-[#07a04b];
            .plant-card_preview-icon{
                a{
                    @apply opacity-100;
                    transform: scaleX(1);
                }
            }
            .plant-card_cartBtn{
                opacity: 1;
                visibility: visible;
                transform: translateY(0) translateZ(0);
            }
        }
    }

    .category-card{
        @apply overflow-hidden;
        &:hover{
            img{
                transform: scale(1.05)
            }
        }
        &-title{
            @apply text-slate-850 font-bold leading-[18px] text-sm capitalize transition-all ease-in-out delay-150 duration-300 cursor-pointer block w-max;
        }
    }
}