@layer components{
    .product-page-banner{
        @apply w-full h-[150px] py-[40px] text-center;
        background-image: url(../../../public/images/gardner-breadcrumb.png);
        background-size: cover;
        background-position: 50%;
    }
}