.plant-card {
  @apply relative bg-white border border-gray-350 rounded rounded-[5px] overflow-hidden mb-[30px] transition-all delay-150 duration-300 mb-0;
  &_preview-icon {
    @apply absolute top-[50%] transform translate-y-[-50%] left-0 right-0 text-center z-[1] h-[46px];
    a {
      @apply inline-flex bg-white  h-[46px] w-[46px] rounded rounded-full text-center opacity-0 transform;
      transform: scale3d(0, 0, 0);
      transition: all 0.3s linear;
      svg path {
        fill: #253237;
      }
      &:hover {
        @apply bg-primary;
        svg path {
          fill: #fff;
        }
      }
    }
  }

  &-title {
    @apply text-slate-850 font-bold leading-[18px] text-sm capitalize transition-all ease-in-out delay-150 duration-300 cursor-pointer block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    &:hover {
      @apply text-primary;
    }
  }
  &_cartBtn {
    @apply absolute left-[15px] right-[15px] bottom-[15px] bg-white;
    visibility: hidden;
    opacity: 0;
    transform: translateY(25px) translateZ(0);
    -webkit-transform: translateY(25px) translateZ(0);
    transition: opacity 0.3s ease, visibility 0.3s ease, transform 0.3s ease;
  }
  &:hover {
    @apply border-primary;
    .plant-card_preview-icon {
      a {
        @apply opacity-100;
        transform: scaleX(1);
      }
    }
    .plant-card_cartBtn {
      opacity: 1;
      visibility: visible;
      transform: translateY(0) translateZ(0);
    }
  }
  .desc {
    @apply text-sm leading-[24px] text-zinc-250;
    overflow: hidden;
    word-break: break-all;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}

.category-card {
  @apply overflow-hidden;
  &:hover {
    img {
      transform: scale(1.05);
    }
  }
  &-title {
    @apply text-slate-850 font-bold leading-[18px] text-sm capitalize transition-all ease-in-out delay-150 duration-300 cursor-pointer block w-max;
  }
}
.checkout-card {
  @apply bg-slate-250 border border-gray-350 rounded rounded-[5px] px-[30px] py-[45px] pb-[50px] w-full md:w-[370px];

  &-header {
    @apply relative before:content-[''] before:absolute before:top-[10px] before:z-[1] before:left-0 before:bg-gray-350 before:h-[1px] before:w-full;
  }
}
