.main-wrapper-block {
    @apply py-8;
    .page__wrapper {
        @apply relative;
        .banner {
            &.sub__banner {
                @apply relative;
                .sub__banner__title {
                    @apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-center;
                    h4 {
                        @apply text-base-100 text-xl leading-7;
                        &.underline__wrapper {
                            @apply relative;
                            span {
                                @apply absolute bottom-20 left-1/2 transform -translate-x-1/2 h-2 bg-black inline-block w-80;
                            }
                        }
                        &:after {
                            content: "";
                            @apply border-b-2 border-white w-[4em] max-w-[50%] mx-auto mt-5 border-solid absolute top-[14px] right-[40px];
                        }
                    }
                }
            }
        }
        .new__section {
            .new__row {
                @apply flex flex-col items-center py-12 sm:flex-row flex-nowrap;
                .image__section {
                    @apply mr-5;
                }
                .info__section {
                    .section__header {
                        @apply font-normal leading-3;
                        &.black__header {
                            @apply text-2xl mb-5 text-gray-50;
                        }
                    }
                }
            }
        }
        .page__section {
            &.project__section {
                h3 {
                    @apply text-base-100 text-xl leading-7;
                    &.underline__wrapper {
                        @apply relative text-gray-50 font-bold text-2xl;
                    }
                }
            }
            &.gift__section {
                @apply py-10;
            }
            &.service__section {
                .service__section__col {
                    @apply py-[25px] px-[35px] h-full shadow-md ease-in duration-300 mb-[15px];
                }
                .section__header {
                    .row {
                        @apply grid grid-cols-4 gap-4;
                    }
                }
            }
        }
    }
}

.occasions__section {
    .collapse__btn__wrapper {
        @apply flex transition-all duration-300 ease-in-out;
        .collapse__btn {
            @apply w-full text-green-50 border-solid border-[1px] border-green-50 p-[13px] text-[20px] uppercase bg-white-150 max-w-[540px] rounded-none;
            img {
                @apply w-[50px];
            }
        }
    }
}

.gift__section {
    .row {
        @apply flex flex-wrap sm:flex-row;
    }
}

.section__header {
    @apply text-[35px] font-bold;
}

.service__section {
    @apply mb-[20px];
}

.occassion__contents {
    @apply flex w-full;
    .img__wrapper {
        @apply w-1/2 bg-[url('https://uat.ordering-iamthegardener-v4.ekbana.net/assets/images/frontend/img-background.png')] bg-center bg-no-repeat bg-cover flex justify-center items-center;
    }
    div {
        @apply w-1/2;
        ul {
            @apply px-[30px] py-[40px];
            li {
                @apply relative mb-[20px] pl-[20px];
                &:before {
                    content: "";
                    @apply absolute left-[-20px] top-[4px] bg-transparent bg-no-repeat bg-contain bg-center h-[18px] w-[18px] bg-[url('https://uat.ordering-iamthegardener-v4.ekbana.net/assets/images/frontend/list-flower.png')];
                }
                h6 {
                    @apply text-gray-550 text-[20px] font-bold;
                }
            }
        }
    }
}

.occassion__bottom {
    @apply bg-orange-150 pt-[50px] pb-[70px] font-medium;
    p {
        @apply text-orange-500 max-w-[950px] mx-auto text-xl relative;
        &:before {
            content: "";
            @apply bg-orange-500 absolute bottom-[-20px] left-1/2 transform translate-x-[-50%] h-[3px] w-[180px];
        }
    }
}

.new__row__top {
    @apply relative min-h-[70px] flex justify-center items-center w-full;
    img {
        @apply absolute top-0 bottom-0 left-0 opacity-10;
    }
    .history__text {
        @apply max-w-[700px] mx-auto text-[16px];
    }
}

.new__section {
    .new__row {
        @apply flex items-center py-[50px];
    }
}

.section__header {
    &.orange__header {
        @apply text-[24px] mb-[20px] font-normal;
    }
}

.listed__disc {
    @apply list-disc;
    li {
        @apply mb-[20px];
        h5 {
            @apply text-[16px] mb-[8px] font-medium;
        }
        p {
            @apply text-[16px];
        }
    }
}

.page__wrapper {
    .banner.sub__banner {
        @apply relative;
        .sub__banner__title {
            @apply absolute text-center top-[50%] left-[50%] translate-x-[-50%] translate-y-[-50%];
            h4 {
                &.underline__wrapper {
                    @apply relative text-white text-[20px] font-medium;
                    &:after {
                        content: "";
                        @apply border-b-2 border-white w-[4em] max-w-[50%] mx-auto mt-5 border-solid absolute top-[14px] right-[40px];
                    }
                }
            }
        }
    }
}

.row {
    @apply flex flex-wrap;
}

.col-md-4 {
    @apply md:w-1/3 sm:w-1/2 w-full px-[15px];
}

.col-sm-4 {
    @apply w-full xxs:w-1/3 px-[15px];
}

.col-lg-6,
.col-md-6 {
    @apply w-full md:w-1/2 px-[15px];
}

.col-12,
.col-md-12 {
    @apply w-full px-[15px];
}

@media (min-width: 768px) {
    .new__section .new__row:nth-child(2n) .image__section {
        @apply order-2;
    }
}
.about-welcome-text ol{
    list-style:auto;
    padding-left: 40px;
    margin: 10px 0;
}


.faq-accordion{
    @apply bg-white;
    input{
        @apply h-[52px] absolute;
    }
    .collapse-title{
        @apply h-[52px] font-normal py-[14px] pl-[20px] pr-[40px] border-0 text-base bg-gray-1150;
    }
    .collapse-content{
        p{
            @apply bg-white border border-gray-1200;
            padding: 15px !important;
        }
    }
    input:checked + div{
        @apply bg-primary text-white rounded-t-md;
    }
}