@tailwind base;
@tailwind components;
@tailwind utilities;

//
@import "./abstract/utils";
@import "./components/header", "./components/card";
@layer components {
  .input {
    @apply shadow-none outline-none h-full focus:outline-transparent;
  }
  .btn-ghost {
    @apply hover:bg-white hover:text-primary;
  }
  .btn {
    @apply min-h-0 min-w-0 h-auto capitalize;
  }
  .container {
    @apply px-4 md:px-10 max-w-7xl;
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  min-width: 100vw;
}
// * {
//   outline: red;
//   outline-style: dashed;
//   outline-width: 1px;
// }
