@tailwind base;
@tailwind components;
@tailwind utilities;

//
@import "./abstract/utils";
@import "./components/header", 
        "./components/card" , 
        "./components/pageBanner", 
        './components/pagination' , 
        './components/auth',
        "./components/btn";
@layer components {
  .input {
    @apply shadow-none outline-none h-full focus:outline-transparent;
  }
  .btn-ghost {
    @apply hover:bg-white hover:text-primary;
  }
  .btn {
    @apply min-h-0 min-w-0 h-auto capitalize;
  }
  .container {
    @apply px-4 md:px-10 max-w-7xl;
  }
}

body {
  overflow-x: hidden;
  max-width: 100vw;
  min-width: 100vw;
}
// * {
//   outline: red;
//   outline-style: dashed;
//   outline-width: 1px;
// }

.right-sidebar-head{
  @apply text-slate-850 font-semibold text-xl pb-[20px] mb-[40px] relative border-b border-b-gray-350 after:content-[''] after:absolute after:left-0 after:bottom-[-1px] after:bg-primary after:w-[60px] after:h-[2px]
}

.cart-table{
  thead {
    tr{
      @apply border-gray-350 bg-slate-250;
    }
    th{
      @apply text-slate-850 text-sm font-bold px-[45px] py-[22px] uppercase align-middle text-center whitespace-nowrap;
    }
  }
}